<!-- Text data input -->
<div m4-layout="row" *ngIf="controlClass === 'text'" >
  <label class="m4-control-caption" m4-flex="{{staticWidth}}" [hidden]="compact">{{controlCaption}}</label>
  <md-input m4-flex="{{100 - staticWidth}}" placeholder="{{placeholder}}"></md-input>
</div>

<!-- Numeric data input -->
<div m4-layout="row" *ngIf="controlClass === 'number'" >
  <label class="m4-control-caption" m4-flex="{{staticWidth}}" [hidden]="compact">{{controlCaption}}</label>
  <md-input m4-flex="{{100 - staticWidth}}" align="end" placeholder="{{placeholder}}">
    <span md-prefix>€</span>
    <span md-suffix>.00</span>
  </md-input>
</div>

<!-- Percentage data input -->
<div m4-layout="row" *ngIf="controlClass === 'perc'" >
  <label class="m4-control-caption" m4-flex="{{staticWidth}}" [hidden]="compact">{{controlCaption}}</label>
  <md-input m4-flex="{{100 - staticWidth}}" align="end" placeholder="{{placeholder}}">
    <span md-suffix>&nbsp;%</span>
  </md-input>
</div>

<!-- Undefined data type -->
<div m4-layout="row" *ngIf="controlClass === 'undefined'" >
  <label class="m4-control-caption" m4-flex="{{staticWidth}}" [hidden]="compact">{{controlCaption}}</label>
  <span m4-flex="{{100 - staticWidth}}">undefined data type: '{{badValue}}'</span>
</div>
