/*
* Remove bolding of the fonts.
*/
.mydp .selection,
.mydp .currmonth,
.mydp .weekdaytitle,
.mydp .monthinput,
.mydp .yearinput {
    font-weight: normal;
}

/*
* Change color of the weekday font.
*/
.mydp .weekdaytitle {
    color: #000;
}

.mydp {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}