
<div m4-layout="row"> 
  <md-card style="flex:1">
      <md-card-title>Master</md-card-title>
      <md-card-content>
        <m4-str-edit controlCaption="Name" [tileGroup]="this"></m4-str-edit>
        <div m4-layout="row">
            <m4-str-edit m4-flex="70" controlCaption="Address" [tileGroup]="this" [staticWidth]="(staticWidth / 70) * 100"></m4-str-edit>
            <m4-str-edit m4-flex="30" controlCaption="ZIP" [tileGroup]="this"></m4-str-edit>
        </div>
        <m4-str-edit controlCaption="Telephone" [tileGroup]="this"></m4-str-edit>
        <m4-str-edit controlCaption="email" [tileGroup]="this"></m4-str-edit>
        <div m4-layout="row">
            <m4-date-edit m4-flex="50" controlCaption="Acquired on" [tileGroup]="this" [staticWidth]="(staticWidth / 50) * 100"></m4-date-edit>
            <m4-str-edit m4-flex="50" controlCaption="by"  [tileGroup]="this"></m4-str-edit>
        </div>
      </md-card-content>
  </md-card>

  <md-card style="flex:1">
      <md-card-title>Sales</md-card-title>
      <md-card-content>
        <m4-str-edit controlCaption="Product" [tileGroup]="this"></m4-str-edit>
        <div m4-layout="row">
            <m4-money-edit m4-flex="70" controlCaption="Price" [tileGroup]="this" [staticWidth]="(staticWidth / 70) * 100"></m4-money-edit>
            <m4-str-edit m4-flex="30" controlCaption="VAT" [tileGroup]="this"></m4-str-edit>
        </div>
        <m4-perc-edit controlCaption="Discount" [tileGroup]="this"></m4-perc-edit>
        <m4-date-edit controlCaption="Last change" [tileGroup]="this"></m4-date-edit>
      </md-card-content>
  </md-card>
</div>
