<md-sidenav-layout>
    <md-sidenav class="m4-selector-sidenav" #start mode="side" [opened]="opened" m4-layout="column">
        <m4-selector-button caption="Main Data" icon="home" ></m4-selector-button>
        <m4-selector-button caption="Other Branches References" icon="store_mall_directory" ></m4-selector-button>
        <m4-selector-button caption="Payment Data" icon="payment" ></m4-selector-button>
        <m4-selector-button caption="Sales  Data" icon="attach_money" ></m4-selector-button>
        <m4-selector-button caption="Administrative Data" icon="account_balance" ></m4-selector-button>
        <m4-selector-button caption="Notes" icon="attach_file" ></m4-selector-button>
    </md-sidenav>
    <div class="m4-tile-container" m4-layout="column"> 
        <div m4-layout="row"> 
            <m4-td-contacts-maindata-companydata class="m4-tile" m4-flex="50" [tileGroup]="this"></m4-td-contacts-maindata-companydata>
            <m4-td-contacts-maindata-address class="m4-tile" m4-flex="50" [tileGroup]="this"></m4-td-contacts-maindata-address>
        </div>
        <m4-td-contacts-maindata-otherdata class="m4-tile" [tileGroup]="this"></m4-td-contacts-maindata-otherdata>
        <m4-td-contacts-maindata-contacts class="m4-tile" [tileGroup]="this"></m4-td-contacts-maindata-contacts>
        <!--<div m4-layout="row"> 
            <m4-tile-master class="m4-tile" m4-flex="50" [tileGroup]="this"></m4-tile-master>
            <m4-tile-sales class="m4-tile" m4-flex="50" [tileGroup]="this"></m4-tile-sales>
        </div>
        <div m4-layout="row"> 
            <m4-tile-sales class="m4-tile" m4-flex="50" [tileGroup]="this"></m4-tile-sales>
            <m4-tile-master class="m4-tile" m4-flex="50" [tileGroup]="this"></m4-tile-master>
        </div>-->
    </div>
</md-sidenav-layout>

