/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/
/*@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';  */
/*@import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';*/
/*@import '~@angular/material/core/theming/prebuilt/purple-green.css';*/

.m4-tile {
    margin: 10px;
}

.m4-tile .md-input-wrapper {    /* DEROGA A MATERIAL */
    margin-top: 12px;
    margin-bottom: 12px;
}

.m4-tile md-input .md-input-suffix {
    text-align: end;
 }

.m4-tile md-textarea .md-input-suffix {
    vertical-align:top;
    width:1px; /* minimum */
}


.m4-tile md-checkbox .md-checkbox-inner-container { /* DEROGA A MATERIAL */
    height: 14px;
    width: 14px;
}

.m4-tile md-checkbox .md-checkbox-frame {
    border-color: #5F5F5F;
}

.m4-tile md-card {
    box-sizing: border-box;
    height: 100%;
    padding: 16px;      
}

.m4-tile .md-input-underline {
    border-color: rgba(0, 0, 0, 0.117647);
}

.m4-tile md-input {
    margin-right : 8px;
}

.m4-tile md-checkbox {
    margin-top : 12px;
    margin-bottom : 12px;
    margin-right : 8px;
}

.m4-tile .m4-input-box {
    margin-right : 8px;
}

.m4-tile md-icon {
    align-self : center;
    font-size: 18px;
}

.m4-tile .m4-input-box md-input {
    width:100%;
}

 .m4-tile-part-left {
    padding-right: 16px;
    margin-right: 10px;
 }

 .m4-tile-part-right {
    padding-left: 16px;
    margin-left: 10px;
 }

